body {
  margin: 0;
  font-family: -apple-system;
  background: #f5f5f5;
}

#home {
  padding: 20px;
}

.session {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

/* chat */
#chat {
  padding: 10px;
}

.me {
  text-align: right;
  margin: 5px;
}

.ai {
  text-align: left;
  margin: 5px;
}

/* input */
#input {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

#msg {
  flex: 1;
  padding: 10px;
}